<section class="container-fluid m-2 mt-4">
            
        <h1 class="encabezado">Nuevo Préstamo</h1>
        
        <div class="container-fluid row cuerpoPrincipal">
            <div class="col-md-6 fs-5 lh-sm noImage">
                <form class="container-fluid text-center m-2 mt-4">
                    <div class="form-row row justify-content-around">
                      <div class="form-group mb-3">
                        <label for="inputNombre" class="textCampos">Identificador de usuario</label>
                        <input type="text" class="form-control" id="inputIdUsuario" name="inputIdUsuario" placeholder="Ingrese el Identificador del usuario" ngModel>
                      </div>
                      <div class="form-group mb-3">
                        <label for="inputDireccion" class="textCampos">Identificador de libro</label>
                        <input type="text" class="form-control" id="inputIdLibro" name="inputIdLibro" placeholder="Ingrese el Identificador del libro a prestar"ngModel>
                      </div>
                      <div class="d-grid gap-2 col-6 mx-auto botonPrestar">
                      <button type="submit" value ="submit" class="btn btn-lg botonEstilo">Prestar</button>
                      </div>
                    </div>
                  </form>
            </div>
            <div class="col-md-6 container-fluid col text-center">
                <img src="../../../assets/compPrestamos.jpeg" class="img-fluid img-thumbnail">
            </div>
        </div>
</section>

