<section class="container-fluid m-2 mt-4">       
            <h1 class="encabezado">Bienvenido</h1>
    <div class="row cuerpoMain">
        <div class="container-fluid row">
            <div class="col-md-6 fs-5 lh-sm textoPrincipal">
                <p>Sistema de Gestión para biblioteca Pública. 
                    Controle y administre de forma óptima, y fácil el flujo de préstamos y devoluciones de libros.</p>
                <p>Esta herramienta le permitira llevar un control completo y detallado de su biblioteca. 
                    Tendra acceso a herramientas para las siguientes tareas específicas:</p>
                <ul class="listaItems">
                    <li>Registro de Usuarios y Libros nuevos.</li>
                    <li>Edición de Usuarios y Libros existentes.</li>
                    <li>Préstamos.</li>
                    <li>Devoluciones.</li>
                    <li>Sección de reportes de acciones en el sistema.</li>
                </ul>
            </div>
            <div class="col-md-6 container-fluid col text-center">
                <img src="../../../assets/compPrincipal.jpeg" class="img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</section>