<section class="container-fluid m-2 mt-4">
    <div class="row gap-4">
        <div class="col-md-6 text-center">
            <h1>Bienvenido</h1>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid row">
            <div class="col-md-6 fs-5 lh-sm">
                <p>Sistema de Gestion para biblioteca Publica. 
                    Controle y administre de forma óptima, y facil el flujo de prestamos y devoluciones de libros</p>
                <p>Esta herramienta le permitira llevar un control completo y detallado de su biblioteca. 
                    Tendra acceso a herramientas para las siguientes tareas especificas:</p>
                <ul>
                    <li>Registro de Usuarios y Libros nuevos</li>
                    <li>Edicion de Usuarios y Libros existentes</li>
                    <li>Prestamos</li>
                    <li>Devoluciones</li>
                    <li>Seccion de reportes de acciones en el sistema</li>
                </ul>
            </div>
            <div class="col-md-6 container-fluid col text-center">
                <img src="../../../assets/biblioteca3.png" class="img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</section>