
<section class="container-fluid m-2 mt-4 usuarios">
    <div class="row titulo">
        <div class="col-2">
            <h1>Usuarios</h1>
        </div>
    </div>
    <div class="row contenido">
        <div class="col">
            <!-- buscar -->
            <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="filtrar($event)" placeholder="buscar">
            </mat-form-field>
            <p>Si usted debe cambiar algun dato de un usuario , proceda a borrarlo y luego crearlo</p>
            <!-- table -->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z5" #tabla2>

                <ng-container matColumnDef="UsuarioID">
                    <th mat-header-cell *matHeaderCellDef> UsuarioID </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.id}} </td>
                </ng-container>

                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="Apellido">
                    <th mat-header-cell *matHeaderCellDef> Apellido </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.apellido}} </td>
                </ng-container>

                <ng-container matColumnDef="Sanciones">
                    <th mat-header-cell *matHeaderCellDef> Sanciones </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.sanciones}} </td>
                </ng-container>

                <ng-container matColumnDef="Dinero">
                    <th mat-header-cell *matHeaderCellDef> Dinero </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.sanciones_dinero}} </td>
                </ng-container>

                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef> Telefono </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.telefono}} </td>
                </ng-container>

                <ng-container matColumnDef="Domicilio">
                    <th mat-header-cell *matHeaderCellDef> Domicilio </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.domicilio}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

            </table>
            <!-- paginador -->
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <!-- botones -->
    <div class="row justify-content-end">
        <div class="col-3">
            <button class="btn m-1 botonEstilo" routerLink="/nuevo-libro">Nuevo</button>
            <button class="btn m-1 botonEstilo" onclick=alert()>Borrar</button>
        </div>
    </div>
</section>