<main>
  <section id="register" class="">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-6 com-md-4 mx-auto text-center pt-5">
            <h1 class="h3 mb-3 font-weight-normal color-title">Registrarse</h1>
          </div>
      </div>
  <!-- INICIO FORMULARIO -->

  <div class="row">
      <div class="col-xs-12 col-sm-6 com-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center" id="cont">
              <form [formGroup]="formulario" id="formulario" (ngSubmit)="onEnviar($event, usuario)">

                  <div class="form-group campo">
                    <label class="color-title"> Nombre/s </label>
                    <input
                      type="text"
                      formControlName="nombre"
                      [(ngModel)]="usuario.name" 
                      [class.border-danger]="NombreValid"
                      id="nombre"
                      name="nombre"
                      class="form-control"
                      placeholder="Nombre"
                      required
                      #newName
                    />
                    <div *ngIf="Nombre?.errors  && Nombre?.touched">
                      <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                        El nombre es requerido.
                      </p>
                    </div>
                    <div *ngIf="Nombre?.errors  && Nombre?.touched">
                      <p *ngIf="Nombre?.hasError('pattern')" class="text-danger">
                        Solo puede ingresar letras en este campo y al menos dos caracteres.
                      </p>
                    </div>
                  </div>
          
          
                  <div class="form-group campo">
                    <label class="color-title"> Apellido/s </label>
                    <input
                      type="text"
                      formControlName="apellido"
                      [(ngModel)]="usuario.last_name"
                      [class.border-danger]="ApellidoValid"
                      id="apellido"
                      name="apellido"
                      class="form-control"
                      placeholder="Apellido"
                      required
                      #newApellido
                    />
                    <div *ngIf="Apellido?.errors  && Apellido?.touched">
                      <p *ngIf="Apellido?.hasError('required')" class="text-danger">
                        El apellido es requerido.
                      </p>
                    </div>

                    <div *ngIf="Apellido?.errors  && Apellido?.touched">
                      <p *ngIf="Apellido?.hasError('pattern')" class="text-danger">
                        Solo puede ingresar letras en este campo y al menos dos caracteres.
                      </p>
                    </div>                     
                  </div>
          
                  <div class="form-group campo" >
                    <label class="color-title">Domicilio</label>
                    <input
                      type="text"
                      formControlName="domicilio"
                      [(ngModel)]="usuario.domicilio"
                      [class.border-danger]="DomicilioValid"
                      id="domicilio"
                      name="domilio"
                      class="form-control"
                      placeholder="Domicilio"
                      required
                      #newUsuario
                    />
                    <div *ngIf="Domicilio?.errors  && Domicilio?.touched">
                      <p *ngIf="Domicilio?.hasError('required')" class="text-danger">
                        El domicilio es requerido.
                      </p>
                  </div>
                  </div>
                
          
                    <div class="form-group campo">
                      <label class="color-title"> Teléfono </label>
                      <input
                        type="text"
                        formControlName="telefono"
                        [(ngModel)]="usuario.tel"
                        [class.border-danger]="TelefonoValid"
                        id="telefono"
                        name="telefono"
                        class="form-control"
                        placeholder="Telefono"
                        required
                        #newTelefono
                      />
                      <div *ngIf="Telefono?.errors  && Telefono?.touched">
                        <p *ngIf="Telefono?.hasError('required')" class="text-danger">
                          El teléfono es requerido.
                        </p>
                      </div>
                      <div *ngIf="Telefono?.errors  && Telefono?.touched">
                        <p *ngIf="Telefono?.hasError('pattern')" class="text-danger">
                          Solo puede ingresar números en este campo.
                        </p>
                      </div>
                      <div *ngIf="Telefono?.errors  && Telefono?.touched">
                        <p *ngIf="Telefono?.errors?.['minlength']" class="text-danger">
                        EL teléfono debe tener al menos 6 dígitos.
                        </p>
                      </div>
                    </div>
      
                    <button type="submit" id="envio"  class="btn btn-lg w-100 btn-registrar btn-block button">
                      Registrar
                    </button>
                </form>
             
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- FIN FORMULARIO -->

  
 </div>
</section>
</main>


