<section id="register" class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 com-md-4 mx-auto text-center pt-5">
        <h1 class="h3 mb-3 font-weight-normal color-title">Registrarse</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 com-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form [formGroup]="formulario" >

                <div class="form-group">
                  <label class="color-title"> Nombre/s </label>
                  <input
                    type="text"
                    formControlName="nombre"
                    [(ngModel)]="usuario.name" [class.border-danger]="NombreValid"
                    id="nombre"
                    name="nombre"
                    class="form-control"
                    placeholder="Nombre"
                    required
                    #newName
                  />
                  <div *ngIf="Nombre?.errors  && Nombre?.touched">
                    <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                      El nombre es requerido.
                    </p>
                </div>
                </div>


                <div class="form-group">
                  <label class="color-title"> Apellido/s </label>
                  <input
                    type="text"
                    formControlName="apellido"
                    [(ngModel)]="usuario.last_name" [class.border-danger]="ContrasenaValid"
                    id="apellido"
                    name="apellido"
                    class="form-control"
                    placeholder="Apellido"
                    required
                    #newApellido
                  />
                  <div *ngIf="Apellido?.errors  && Apellido?.touched">
                    <p *ngIf="Apellido?.hasError('required')" class="text-danger">
                      El apellido es requerido.
                    </p>
                </div>
                </div>


                <div class="form-group">
                    <label class="color-title"> Domicilio </label>
                    <input
                      type="email"
                      formControlName="email"
                      [(ngModel)]="usuario.domicilio" [class.border-danger]="MailValid"
                      id="email"
                      name="mail"
                      class="form-control"
                      placeholder="Email"
                      required
                      #newMail
                    />
                    <div *ngIf="Mail?.errors  && Mail?.touched">
                      <p *ngIf="Mail?.hasError('required')" class="text-danger">
                        El email es requerido.
                      </p>
                  </div>
                  </div>

               

                  <div class="form-group">
                    <label class="color-title"> Teléfono </label>
                    <input
                      type="text"
                      formControlName="telefono"
                      [(ngModel)]="usuario.tel" [class.border-danger]="TelefonoValid"
                      id="telefono"
                      name="telefono"
                      class="form-control"
                      placeholder="Telefono"
                      required
                      #newTelefono
                    />
                    <div *ngIf="Telefono?.errors  && Telefono?.touched">
                      <p *ngIf="Telefono?.hasError('required')" class="text-danger">
                        El teléfono es requerido.
                      </p>
                  </div>
                  </div>

              

                 

                  <button type="submit" class="btn btn-lg w-100 btn-registrar btn-block"  [disabled]="!formulario.valid">
                      Agregar
                  </button>
                  <div class="form-group">
                      <a routerLink="../login" class="form-control login-user btn-pass">¿Ya tienes una cuenta?</a>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>









