<section class="container-fluid m-2 mt-4 reportes">

            <h1 class="encabezado">Reportes</h1>

    <div class="row contenido cuerpoPrincipal">
        <div class="col">
            <!-- buscar -->
            <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="filtrar($event)" placeholder="buscar">
            </mat-form-field>
            <!-- table -->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z5" #tabla1>6
                <ng-container matColumnDef="Usuario">
                    <th mat-header-cell *matHeaderCellDef> Usuario </th>
                    <td mat-cell *matCellDef="let lending"> {{lending.user_id}} </td>
                </ng-container>

                <ng-container matColumnDef="Libro">
                    <th mat-header-cell *matHeaderCellDef> Libro </th>
                    <td mat-cell *matCellDef="let lending"> {{lending.book_id}} </td>
                </ng-container>

                <ng-container matColumnDef="Fecha de pedido">
                    <th mat-header-cell *matHeaderCellDef> Fecha de pedido </th>
                    <td mat-cell *matCellDef="let lending"> {{lending.date_out | date:'d/M/y'}} </td>
                </ng-container>

                <ng-container matColumnDef="Fecha de devolucion">
                    <th mat-header-cell *matHeaderCellDef> Fecha de devolucion </th>
                    <td mat-cell *matCellDef="let lending"> {{lending.dia_devolucion | date:'d/M/y'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

            </table>
            <!-- paginador -->
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <!-- botones -->
    <div class="container-fluid row botonReporte">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-lg m-1 botonEstilo" (click)="reloadCurrentPage()">Actualizar</button>
        </div>
    </div>
</section>
