<div class="container-fluid m-2 mt-4 text-center">
  <h1 class="nuevoUsuario">Registrar Nuevo Libro</h1>
  <br>
  <!--INICIO Formulario-->
  <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" class="container-fluid text-center m-2 mt-4">
    <div class="form-row row justify-content-around">
      <div class="form-group col-4">
        <label for="inputId" class="textCampos">Libro ID</label>
        <input type="number" class="form-control" id="inputId" name="inputId" placeholder="Ingrese ID del libro" ngModel>
      </div>
      <div class="form-group col-4">
        <label for="inputIdioma" class="textCampos">Idioma</label>
        <input type="text" class="form-control" id="inputIdioma" name="inputIdioma" placeholder="Ingrese Idioma del Libro" ngModel>
      </div>
    </div>
    <div class="form-row row justify-content-around">
      <div class="form-group col-4 inputPosition">
        <label for="inputTitulo" class="textCampos">Título</label>
        <input type="text" class="form-control" id="inputTitulo" name="inputTitulo" placeholder="Ingrese el Título" ngModel>
      </div>
      <div class="form-group col-4 inputPosition">
        <label for="inputPaginas" class="textCampos">Páginas</label>
        <input type="number" class="form-control" id="inputPaginas" name="inputPaginas" placeholder="Ingrese la Cantidad de Páginas Totales" ngModel>
      </div>
    </div>
    <div class="form-row row justify-content-around">
      <div class="form-group col-4 inputPosition">
        <label for="inputPublicacion" class="textCampos">Fecha de Publicación</label>
        <input type="date" class="form-control" id="inputPublicacion" name="inputPublicacion" placeholder="Ingrese la Fecha de Publicación" ngModel>
      </div>
      <div class="form-group col-4 inputPosition">
        <label for="inputDescripcion" class="textCampos">Descripción</label>
        <input type="text" class="form-control" id="inputDescripcion" name="inputDescripcion" placeholder="Ingrese la Descripción del Libro" ngModel>
      </div>
    </div>
    <div class="form-row row justify-content-around">
      <div class="form-group col-4 inputPosition">
        <label for="inputAutor" class="textCampos">Autor</label>
        <input type="text" class="form-control" id="inputAutor" name="inputAutor" placeholder="Ingrese el Nombre de Autor/es" ngModel>
      </div>
      <div class="form-group col-1 inputPosition">
        <label for="inputStock" class="textCampos">Stock</label>
        <input type="number" class="form-control" id="inputStock" name="inputStock" placeholder="Cantidad" ngModel>
      </div>
      <div class="form-group col-1 inputPosition">
        <label for="inputDisponibles" class="textCampos">Disponibles</label>
        <input type="number" class="form-control" id="inputDisponibles" name="inputDisponibles" placeholder="Cantidad" ngModel>
      </div>
    </div>
    <div class="form-row row justify-content-around">
      <div class="form-group col-4 inputPosition">
        <label for="inputCategoria" class="textCampos">Categoría</label>
        <input type="text" class="form-control" id="inputCategoria" name="inputCategoria" placeholder="Ingrese la Categoría del Libro" ngModel>
      </div>
      <div class="form-group col-4 inputPosition">
        <label for="inputEjemplares" class="textCampos">Ejemplares</label>
        <input type="number" class="form-control" id="inputEjemplares" name="inputEjemplares" placeholder="Ingrese la Cantidad de Ejemplares" ngModel>
      </div>
    </div>
    <div class="form-row row justify-content-around">
      <div class="form-group col-4 inputPosition">
        <label for="inputEdicion" class="textCampos">Edición</label>
        <input type="number" class="form-control" id="inputEdicion" name="inputEdicion" placeholder="Ingrese la Edición" ngModel>
      </div>
      <div class="col-4 inputPosition d-grid gap-2">
      <button type="submit" class="btn botonEstilo">Subir</button>
      </div>
    </div>
    
  </form>
   
  <!--FIN Formulario-->
  </div>
  
  