
<section class="container-fluid m-2 mt-4 Libros">

            <h1 class="encabezado">Libros</h1>

    <div class="row contenido">
        <div class="col">
            <!-- buscar -->
            <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="filtrar($event)" placeholder="buscar">
            </mat-form-field>

            <!-- table -->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z5" #tabla3>

                <ng-container matColumnDef="LibroID">
                    <th mat-header-cell *matHeaderCellDef> LibroID </th>
                    <td mat-cell *matCellDef="let Libro"> {{Libro.id}} </td>
                </ng-container>

                <ng-container matColumnDef="Titulo">
                    <th mat-header-cell *matHeaderCellDef> Titulo </th>
                    <td mat-cell *matCellDef="let Libro"> {{Libro.title}} </td>
                </ng-container>

                <ng-container matColumnDef="Autor">
                    <th mat-header-cell *matHeaderCellDef> Autor </th>
                    <td mat-cell *matCellDef="let Libro"> {{Libro.author}} </td>
                </ng-container>

                <ng-container matColumnDef="Categoria">
                    <th mat-header-cell *matHeaderCellDef> Categoria </th>
                    <td mat-cell *matCellDef="let Libro"> {{Libro.category}} </td>
                </ng-container>

                <ng-container matColumnDef="Idioma">
                    <th mat-header-cell *matHeaderCellDef> Idioma </th>
                    <td mat-cell *matCellDef="let Libro"> {{Libro.lang}} </td>
                </ng-container>

                <ng-container matColumnDef="Disponibles">
                    <th mat-header-cell *matHeaderCellDef> Disponibles </th>
                    <td mat-cell *matCellDef="let Libro"> {{Libro.available}} </td>
                </ng-container>

                <ng-container matColumnDef="Ejemplares">
                    <th mat-header-cell *matHeaderCellDef> Ejemplares </th>
                    <td mat-cell *matCellDef="let Libro"> {{Libro.ejemplares}} </td>
                </ng-container>

                <ng-container matColumnDef="Edicion">
                    <th mat-header-cell *matHeaderCellDef> Edicion </th>
                    <td mat-cell *matCellDef="let Libro"> {{Libro.edit}} </td>
                </ng-container>

                <ng-container matColumnDef="Borrar">
                    <th mat-header-cell *matHeaderCellDef ></th>
                    <td mat-cell *matCellDef="let j = index;"> <button mat-raised-button class="botonBorrar" color="warn" focusable="false"
                        (click)="borrarFila(j)">
                        Borrar
                      </button> </td>
                </ng-container>
                <ng-container matColumnDef="Editar">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let j = index;"> <button class="botonOpciones" mat-raised-button color="accent" focusable="false"
                        (click)="borrarFila(j)">
                        Editar
                    </button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

            </table>
            <!-- paginador -->
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <!-- botones -->
    <div class="container-fluid botonesUsuario">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-lg btn-block m-1 botonEstilo" routerLink="/nuevo-libro">Nuevo Libro</button>
        </div>
    </div>
</section>
